/* Apply to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.header {
    background-color: #1e2b3d;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    min-height: 100px;
    padding-left: 150px;
    padding-top: 10px;
    flex: 1;
    display: flex;
}

.container-1 {
    background-color: #1e2b3d;
    flex: 2;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
}

.container-2 {
    font-size: 48px;
    background-color: #F9FAF8;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
}

.container-3 {
    font-size: 32px;
    color: #1f2937;
    background-color: #E5E7EB;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    max-width: 950px;
    margin-left: 0;
}

.container-4 {
    font-size: 48px;
    color: #F9FAF8;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-4-button {
    background-color: #0061a8;
    color: #E5E7EB;
    height: 60px;
    width: 140px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: #E5E7EB 2px solid;
}

.footer {
    background-color: #1e2b3d;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    min-height: 100px;
    padding-left: 50px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #0061a8;
    color: #E5E7EB;
    height: 60px;
    width: 140px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.logo {
    height: 75px;
    width: 75px;
    margin-top: 0px;
}

.logo-links {
    padding: 5px;
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 150px;
}

.hero-image {
    height: 500px;
    width: 500px;
    padding-left: 64px;
    padding-bottom: 64px;
    align-self: center;
    margin-bottom: 150px;
}

.c-2-images {
    display: flex;
    justify-content: space-between;
}

.c-2-img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 4px solid #0061a8;
    border-radius: 10px;
}

.blue-container {
    background-color: #0061a8;
    height: 200px;
    width: 1300px;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    margin: 100px;
    align-items: center;
    justify-content: space-around;
}

.c-4-text {
    font-size: 24px;
    color: #F9FAF8;
    padding: 20px;
    display: flex;
    flex-direction: column;
}